@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.sidebar-container::-webkit-scrollbar {
  width: 5px; /* Adjust this value to make the scrollbar thinner */
}

.sidebar-container::-webkit-scrollbar-track {
  background-color: #f1f1ef; /* Lighter thumb color on hover */
}

.sidebar-container::-webkit-scrollbar-thumb {
  background-color: #ec0a0a; /* Scrollbar thumb color */
  border-radius: 10px; /* Round the scrollbar thumb */
}

/* Add hover effect to show scrollbar on hover */
.sidebar-container:hover::-webkit-scrollbar-thumb {
  background: #26292e; /* Background of the scrollbar track */
}
